*.data
lib/
datafiles/
QKinz_runs/
figures/
alpha_peaks_60Ni_b0.csv
alpha_peaks_60Ni.csv
calibration_186W_a.xlsx
~$calibration_186W_a.xlsx
calibration_186W_d.xlsx
~$calibration_186W_d.xlsx
.depend-user_sort.dep
offline_186W_plain.root
offline_60Ni_plain.root
offline_60Ni_sirical-d.root
offline_186W_p.root
offline_186W_p_gate_15N.root
offline_186W_d.root
offline_186W_aa.root
offline_186W_p_gate_15N_CACTUScalib.root
offline_186W_p_gate_15N_plainCACTUScal.root
offline_186W_p_gate_19F_2779keVpeak.root
offline_186W_p_gate_19F_and_15N_peaks.root
offline_186W_p_gate_19F_1346keVpeak.root
offline_186W_p_gate_15N_CACTUScalib_no_TNaI_shift.root
sorting
user_sort.o
peaks2D_C.d
peaks2D_C.so
peaks2D_C_ACLiC_dict_rdict.pcm
newgains.txt
cactus_gains.txt
analysis_186W+alpha.rtfd/*.png
