*.data
datafiles/
QKinz_runs/
calibration_186W_d.xlsx
~$calibration_186W_d.xlsx
.depend-user_sort.dep
offline_186W_plain.root
offline_60Ni_plain.root
offline_186W_d.root
sorting
user_sort.o
peaks2D_C.d
peaks2D_C.so

